@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
/* font-size: 6.5rem;
font-family: "Kosugi Maru",
sans-serif;
font-weight: 400;
font-style: normal; */

/* font-size: 34px;
font-family: "Kosugi",
sans-serif;
font-weight: 400;
font-style: normal; */



/* HERO */
.hero{
    width: 100%;
    min-height: 100dvh;
    padding: 1.5rem;
    background-color: linear-gradient(135deg, hsl(0 0% 95%), hsl(0 0% 90%));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
/* Responsive */


/* INTRO SECTION */
.intro{
    width: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.intro h1{
    font-size: 5rem;
    font-family: "Kosugi Maru",
    sans-serif;
    font-weight: bolder;
    font-style: normal;
}

.intro h2{
    font-size: 2rem;
    font-family: "Kosugi Maru",
    sans-serif;
    font-weight: bold;
    font-style: normal;
}

.intro p{
    width: 55%;

    font-size: 1.2rem;
    font-family: "Kosugi Maru",
    sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Responsive */
@media screen and (max-width: 1230px) {
    .intro p{
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .intro h1{
        font-size: 4rem;
    }

    .intro h2{
        font-size: 1.5rem;
    }

    .intro p{
        font-size: 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .intro{
        gap: 1rem;
    }

    .intro h1{
        font-size: 3rem;
    }

    .intro h2{
        font-size: 1.2rem;
    }

    .intro p{
        font-size: 0.9rem;
        width: 100%;
    }
}



/* LEVELS SECTION */
.levels{
    width: 100%;

    font-family: "Kosugi Maru",
    sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.level-intro{
    font-weight: bold;
    text-align: center;
}

.options{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* Responsive */
@media screen and (max-width: 1280px) {
    .options{
        flex-direction: column;
        gap: 1.5rem;
    }
}


/* To Game */
.to-game{
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.to-game button{
    background-color: black;
    color: white;

    border: none;
    outline: none;
    border-radius: 8px;

    font-size: 1.5rem;
    font-family: "Kosugi Maru",
    sans-serif;
    font-weight: bold;
    font-style: normal;

    width: 250px;
    padding: 1rem;
}

.to-game p{
    font-family: "Kosugi Maru",
    sans-serif;
    font-weight: 500;
    font-style: normal;
    color: hsl(0 0% 40%);
}