@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.choice {
    width: 100%;
    min-height: 10px;
    padding: 1.3rem;

    text-align: left;
    font-family: "Kosugi Maru",
        sans-serif;
    font-style: normal;
    font-size: 1rem;

    outline: none;
    border: none;
    background-color: hsl(0 0% 98%);

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.quiz-options button:hover {
    background-color: hsl(0 0% 88%);
}

.selected-quiz {
    background-color: black;
    color: hsl(0 0% 98%);
}
/* Responsive */
@media screen and (max-width: 750px) {
    .quiz-options button {
        font-size: 0.8rem;
    }
}