@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');


/* CARD CONTAINER */
.card-container{
    width: 35rem;
    height: 20rem;
    padding: 1rem;

    text-align: center;

    background-color: linear-gradient(180deg, hsl(0 0% 98%), hsl(0 0% 95%));
    border: 1px solid hsl(0 0% 80%);
    border-radius: 10px;
    box-shadow: 0px 0px 40px hsla(0, 0%, 80%, 0.63);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transition: 200ms;
}

.card-container:hover{
    transition: 200ms;
    scale: 1.1;
}

.covers{
    background-color: transparent;
    text-align: center;
    font-size: 0.8rem;
    color: hsl(0 0% 60%);
    font-style: italic;
}
/* Responsive */
@media screen and (max-width: 1770px) {
    .card-container{
        width: 35rem;
    }
}

@media screen and (max-width: 1650px) {
    .card-container {
        width: 28rem;
    }
}

@media screen and (max-width: 1441px) {
    .card-container {
        width: 25rem;
    }
}

@media screen and (max-width: 1290px) {
    .card-container h1{
        font-size: 1.5rem;
    }

    .card-container h2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1280px) {
    .card-container {
        width: 40rem;
        height: 15rem;
    }

    .card-container h1{
        font-size: 1.5rem;
    }

    .card-container h2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 680px) {
    .card-container {
        width: 100%;
        height: 15rem;
    }
}

@media screen and (max-width: 490px) {
    .card-container {
        height: 20rem;
    }
}


/* SELECTION */
.normal{
    background-color: linear-gradient(180deg, hsl(0 0% 98%), hsl(0 0% 95%));
}

.normal-level, .normal-des{
    color: black;
    background-color: transparent;
}

.selected{
    background-color: black;
}

.selected-h2{
    background-color: transparent;
    color: white;
}