@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* RESULT CARD CONTAINER */
.result-card{
    width: 80%;
    min-height: 10px;
    padding: 1.3rem;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
   

    outline: none;
    border: none;
    background-color: hsl(0 0% 98%);
    box-shadow: 0px 0px 40px hsl(0 0% 88%);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.final-result{
    width: 100%;
    font-size: 0.8rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.result-type{
    /* padding: 0.5rem; */
    width: 80px;
    height: 25px;

    /* padding-left: 10px;
    padding-right: 10px; */
    border-radius: 20px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-answer{
    font-size: 1.3rem;
}