@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* font-size: 1.5rem;
font-family: "Kosugi Maru",
sans-serif;
font-weight: bold;
font-style: normal; */


/* GAME CONTAINER */
.game-container{
    width: 100%;
    min-height: 100%;
    padding: 2rem;

    font-family: "Kosugi Maru",
    sans-serif;
    font-style: normal;
    /* color: hsl(0 0% 40%); */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-wrapper{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}
/* Responsive */
@media screen and (max-width: 1150px) {
    .game-container{
        padding: 0.7rem;
    }
    .game-wrapper{
        width: 100%;
    }
}


/* DETAILS */
.details{
    width: 100%;
    padding: 1rem;

    font-family: "Kosugi Maru",
    sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details p{
    color: hsl(0 0% 40%);
}
/* Responsive */
@media screen and (max-width: 415px) {
    .details{
        min-height: 10px;

        flex-direction: column;
        gap: 1rem;
    }
}


/* QUIZ CONTAINER */
.quiz-container{
    width: 100%;
    min-height: 20rem;
    padding: 1rem;

    background-color: hsl(0 0% 98%);

    border: 1px solid hsl(0 0% 80%);
    border-radius: 15px;
    box-shadow: 0px 0px 20px hsl(0 0% 80%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.question{
    width: 100%;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.quiz-options{
    width: 100%;

    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Responsive */
@media screen and (max-width: 750px) {
    .question{
        font-size: 1.1rem;
    }
}



/* NEXT SECTION */
.next-sec{
    width: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next , .prev{
    padding: 0.5rem;
    width: 150px;

    font-family: "Kosugi Maru",
    sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;

    border-radius: 40px;

    outline: none;
    border: none;
    background-color: black;
    color: white;
}

.back-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.quit{
    padding: 0.5rem;
    width: 150px;

    font-family: "Kosugi Maru",
        sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;

    border-radius: 40px;

    outline: none;
    border: none;
    background-color: hsl(0 65% 55%);
    color: black;
}